<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="HomePage">
        <div class="top-bar">
            <img src="{% static 'homepage/website-icon.png' %}" alt="Website Icon" class="website-icon" />
            <div class="user-info">
                <span>User Name</span>
                <img src="https://www.w3schools.com/w3images/avatar2.png" alt="User Icon" />
            </div>
        </div>
        <div class="search-container">
            <input 
                type="text" 
                class="search-box" 
                placeholder="Search anything..." 
            />
            <i class="fa fa-search search-icon"></i>
            <button class="voice-search">
                <i class="fa fa-microphone"></i>
            </button>
        </div>
    </div>
    <script>
        function handleVoiceSearch() {
            const recognition = new window.webkitSpeechRecognition();
            recognition.lang = 'en-US,th-TH'; // Supports both English and Thai
            recognition.onresult = function(event) {
                document.querySelector('.search-box').value = event.results[0][0].transcript;
            };
            recognition.start();
        }
    
        document.querySelector('.voice-search').addEventListener('click', handleVoiceSearch);
    </script>
    
</body>
</html>
